.article-item {
  text-decoration: none;
  color: inherit;

  .post-excerpt {
    display: grid;
    grid-template-columns: 50%;

    @media (max-width: 767px) {
      grid-template-columns: 100%;
    }
  }

  .article-item__image {
    height: 100%;
    margin: 20px 20px 20px 0;
    padding-top: 5px;
    grid-column: 1 / 1;
    background-size: cover;
    background-position: center;

    @media (max-width: 767px) {
      height: 150px;
      margin-right: 0;
    }
  }

  .article-item__meta {
    text-align: right;
    line-height: 1;
  }

  .article-item__description {
    grid-column: 2 / 2;

    @media (max-width: 767px) {
      grid-column: 1 / 1;
      grid-row: 2 / 2;
    }
  }
}
